<!-- it will not work properly without joint_state_publisher
     therefore, teleop.py should be run befero this launch file  -->

<launch>
  <!-- arguments for model, gui, rviz, and camera -->
  <include file="$(find autonomous-scooter)/launch/realsense/scan.launch"/>

  <arg name="model" default="$(find autonomous-scooter)/urdf/scooter.urdf.xacro"/>
  <arg name="gui" default="false" /> 
  <arg name="rvizconfig" default="$(find autonomous-scooter)/rviz/urdf.rviz" />
  <!-- converts urdf to the robot description in the parameter server  -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <!-- publish the joints and launch rviz -->
  <param name="use_gui" value="$(arg gui)"/>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false" />

</launch>
