<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <param name="robot_description" command="$(find xacro)/xacro '$(find autonomous-scooter)/description/urdf/scooter.urdf.xacro'" />
    
    <node name="myrobot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model scooter11" />
    
</launch>