<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <include file="$(find autonomous-scooter)/launch/spawn_sdf.launch">
    <arg name="robot_name" value="autonomous-scooter"/>
    <arg name="x" value="0.0" />
    <arg name="y" value="0.0" />
    <arg name="z" value="1.0" />
    <arg name="roll" value="0.0" />
    <arg name="pitch" value="0.0" />
    <arg name="yaw" value="0.0" />
    <arg name="sdf_robot_file" value="$(find autonomous-scooter)/model/model.sdf"/>
  </include>
</launch>
