<launch>
  <!-- arguments for model, gui, and rviz -->
  <arg name="model" default="$(find autonomous-scooter)/urdf/test.xacro"/>
  <arg name="gui" default="true" /> 
  <arg name="rvizconfig" default="$(find autonomous-scooter)/rviz/rviz.rviz" />

  <!-- converts urdf to the robot description in the parameter server  -->
  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  
  <!-- publish the joints and launch rviz -->
  <!-- <param name="joint_state_publisher_gui" value="$(arg gui)"/> -->
  <param name="use_gui" value="$(arg gui)"/>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

</launch>
