<launch>

  <arg name="model" default="$(find autonomous-scooter)/description/urdf/test.urdf.xacro"/>
  <arg name="gui" default="false" /> 
  <arg name="rvizconfig" default="$(find autonomous-scooter)/rviz/urdf.rviz" />

  <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
  <param name="joint_state_publisher_gui" value="$(arg gui)"/> 
  <!-- <param name="joint_state_publisher_gui" value="$(arg gui)"/> -->
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>